In [205]:
import pandas as pd

In [206]:
# pd.read_excel('export.xlsx').to_csv("valami.csv", header=False)
pd.read_excel('tanterv.xlsx').to_csv("valami.csv", header=False)

In [207]:
kodok = set(pd.read_csv('valami.csv')['Tárgycsoport kódja'].to_list())

In [208]:
kodok

{'MK-ALA', 'MK-DSZ', 'MK-SZD', 'MK-SZG', 'MK-SZT', 'MK-SZV'}

In [209]:
df = pd.read_csv('valami.csv')

In [210]:
df

,0,Kód:,Név,Kredit,Ajánlott félév,Mintatanterv,Tárgycsoport kódja,Tárgycsoport neve,Tárgytípus,Eredmény,...,Kredit.4,Ajánlott félév.4,Mintatanterv.4,Tárgycsoport kódja.4,Tárgycsoport neve.4,Tárgytípus.4,Eredmény.4,Felv.szám.4,Kód:.5,Név.5
0,1,NaN,NaN,46.0,NaN,NaN,MK-ALA,Köztelezően teljesítendő matematika és számítá...,Kötelező,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,46.0,NaN,NaN,MK-ALA,Köztelezően teljesítendő matematika és számítá...,Kötelező,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,46.0,NaN,NaN,MK-ALA,Köztelezően teljesítendő matematika és számítá...,Kötelező,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,46.0,NaN,NaN,MK-ALA,Köztelezően teljesítendő matematika és számítá...,Kötelező,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,46.0,NaN,NaN,MK-ALA,Köztelezően teljesítendő matematika és számítá...,Kötelező,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,1249,NaN,NaN,10.0,NaN,NaN,MK-SZV,Szabadon választott,Szabadon választható,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1249,1250,NaN,NaN,10.0,NaN,NaN,MK-SZV,Szabadon választott,Szabadon választható,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1250,1251,NaN,NaN,20.0,NaN,NaN,MK-SZD,Szakdolgozat,Kötelező,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1251,1252,NaN,NaN,20.0,NaN,NaN,MK-SZD,Szakdolgozat,Kötelező,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1252,1253,NaN,NaN,NaN,NaN,NaN,MK-SZG,Szakmai gyakorlat,Kötelező,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
for i in kodok:
    print(i)
    nedf = df[df['Tárgycsoport kódja'] == 'MK-SZV']
    break

MK-SZG

In [212]:
nedf
kreditszam = set(nedf['Kredit'].to_list())

In [213]:
nedf

,0,Kód:,Név,Kredit,Ajánlott félév,Mintatanterv,Tárgycsoport kódja,Tárgycsoport neve,Tárgytípus,Eredmény,...,Kredit.4,Ajánlott félév.4,Mintatanterv.4,Tárgycsoport kódja.4,Tárgycsoport neve.4,Tárgytípus.4,Eredmény.4,Felv.szám.4,Kód:.5,Név.5
607,608,NaN,NaN,10.0,NaN,NaN,MK-SZV,Szabadon választott,Szabadon választható,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,609,NaN,NaN,10.0,NaN,NaN,MK-SZV,Szabadon választott,Szabadon választható,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,610,NaN,NaN,10.0,NaN,NaN,MK-SZV,Szabadon választott,Szabadon választható,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,611,NaN,NaN,10.0,NaN,NaN,MK-SZV,Szabadon választott,Szabadon választható,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
611,612,NaN,NaN,10.0,NaN,NaN,MK-SZV,Szabadon választott,Szabadon választható,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,1246,NaN,NaN,10.0,NaN,NaN,MK-SZV,Szabadon választott,Szabadon választható,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1246,1247,NaN,NaN,10.0,NaN,NaN,MK-SZV,Szabadon választott,Szabadon választható,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1247,1248,NaN,NaN,10.0,NaN,NaN,MK-SZV,Szabadon választott,Szabadon választható,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1248,1249,NaN,NaN,10.0,NaN,NaN,MK-SZV,Szabadon választott,Szabadon választható,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1249,1250,NaN,NaN,10.0,NaN,NaN,MK-SZV,Szabadon választott,Szabadon választható,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [214]:
list(kreditszam)[0]

10.0

In [215]:
Eredmény = []
for i in nedf.columns.to_list():
    if 'Eredmény' in i:
        Eredmény.append(i)

In [216]:
Eredmény

['Eredmény', 'Eredmény.1', 'Eredmény.2', 'Eredmény.3', 'Eredmény.4']

In [217]:
for i in Eredmény:
    print(nedf[i].to_list())

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

In [218]:
set(pd.read_excel('tanterv.xlsx', header=0)['Unnamed: 5'].to_list())

{'MK-ALA',
 'MK-DSZ',
 'MK-SZD',
 'MK-SZG',
 'MK-SZT',
 'MK-SZV',
 'Tárgycsoport kódja'}

In [219]:
df = pd.read_csv('valami.csv')
df = df.fillna(0)
df
# ['Eredmény', 'Eredmény.1', 'Eredmény.2', 'Eredmény.3', 'Eredmény.4']

,0,Kód:,Név,Kredit,Ajánlott félév,Mintatanterv,Tárgycsoport kódja,Tárgycsoport neve,Tárgytípus,Eredmény,...,Kredit.4,Ajánlott félév.4,Mintatanterv.4,Tárgycsoport kódja.4,Tárgycsoport neve.4,Tárgytípus.4,Eredmény.4,Felv.szám.4,Kód:.5,Név.5
0,1,0.0,0.0,46.0,0.0,0.0,MK-ALA,Köztelezően teljesítendő matematika és számítá...,Kötelező,0.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0,0
1,2,0.0,0.0,46.0,0.0,0.0,MK-ALA,Köztelezően teljesítendő matematika és számítá...,Kötelező,0.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0,0
2,3,0.0,0.0,46.0,0.0,0.0,MK-ALA,Köztelezően teljesítendő matematika és számítá...,Kötelező,0.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0,0
3,4,0.0,0.0,46.0,0.0,0.0,MK-ALA,Köztelezően teljesítendő matematika és számítá...,Kötelező,0.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0,0
4,5,0.0,0.0,46.0,0.0,0.0,MK-ALA,Köztelezően teljesítendő matematika és számítá...,Kötelező,0.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,1249,0.0,0.0,10.0,0.0,0.0,MK-SZV,Szabadon választott,Szabadon választható,0.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0,0
1249,1250,0.0,0.0,10.0,0.0,0.0,MK-SZV,Szabadon választott,Szabadon választható,0.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0,0
1250,1251,0.0,0.0,20.0,0.0,0.0,MK-SZD,Szakdolgozat,Kötelező,0.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0,0
1251,1252,0.0,0.0,20.0,0.0,0.0,MK-SZD,Szakdolgozat,Kötelező,0.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0,0
1252,1253,0.0,0.0,0.0,0.0,0.0,MK-SZG,Szakmai gyakorlat,Kötelező,0.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0,0

In [220]:
df.iloc[0]['Eredmény.3']

0

In [221]:
# eredmenyek0 = set(df[df['Eredmény']!=0.0][df['Név']!=0.0][df['Kredit']!=0.0][['Eredmény','Név','Kredit']][df['Eredmény'].str.contains('Elégtelen')==False]['Név'])

In [222]:
# eredmenyek1 =set(df[df['Eredmény.1']!=0.0][df['Név.1']!=0.0][df['Kredit.1']!=0.0][['Eredmény.1','Név.1','Kredit.1']][df['Eredmény.1'].str.contains('Elégtelen')==False]['Név.1'])

In [223]:
eredmenyek2 = set(df[df['Eredmény.2'] != 0.0][df['Név.2'] != 0.0][df['Kredit.2'] != 0.0][
                      ['Eredmény.2', 'Név.2', 'Kredit.2', 'Kód:.2']][
                      df['Eredmény.2'].str.contains('Elégtelen') == False]['Kód:.2'])

C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3259975471.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  eredmenyek2 = set(df[df['Eredmény.2'] != 0.0][df['Név.2'] != 0.0][df['Kredit.2'] != 0.0][
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3259975471.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  eredmenyek2 = set(df[df['Eredmény.2'] != 0.0][df['Név.2'] != 0.0][df['Kredit.2'] != 0.0][
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3259975471.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  eredmenyek2 = set(df[df['Eredmény.2'] != 0.0][df['Név.2'] != 0.0][df['Kredit.2'] != 0.0][

In [224]:
eredmenyek3 = set(df[df['Eredmény.3'] != 0.0][df['Név.3'] != 0.0][df['Kredit.3'] != 0.0][
                      ['Eredmény.3', 'Név.3', 'Kredit.3', 'Kód:.3']][
                      df['Eredmény.3'].str.contains('Elégtelen') == False]['Kód:.3'])

C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\887554684.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  eredmenyek3 = set(df[df['Eredmény.3'] != 0.0][df['Név.3'] != 0.0][df['Kredit.3'] != 0.0][
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\887554684.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  eredmenyek3 = set(df[df['Eredmény.3'] != 0.0][df['Név.3'] != 0.0][df['Kredit.3'] != 0.0][
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\887554684.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  eredmenyek3 = set(df[df['Eredmény.3'] != 0.0][df['Név.3'] != 0.0][df['Kredit.3'] != 0.0][

In [225]:
df[df['Eredmény.4'] != 0.0][df['Név.4'] != 0.0][df['Kredit.4'] != 0.0][['Eredmény.4', 'Név.4', 'Kredit.4']]

C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\1086343178.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['Eredmény.4'] != 0.0][df['Név.4'] != 0.0][df['Kredit.4'] != 0.0][['Eredmény.4', 'Név.4', 'Kredit.4']]
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\1086343178.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['Eredmény.4'] != 0.0][df['Név.4'] != 0.0][df['Kredit.4'] != 0.0][['Eredmény.4', 'Név.4', 'Kredit.4']]

,Eredmény.4,Név.4,Kredit.4
191,Kollokvium Elégséges (2) 2023.06.07.,Adatbázis alapú rendszerek,2.0
192,Kollokvium Elégséges (2) 2023.06.07.,Adatbázis alapú rendszerek,2.0
193,Kollokvium Közepes (3) 2022.06.14.,Algoritmusok és adatszerkezetek II.,2.0
194,Kollokvium Közepes (3) 2022.06.14.,Algoritmusok és adatszerkezetek II.,2.0
195,Gyakorlati jegy Jeles (5) 2022.12.09.,Számítógépes grafika gyak.,2.0
196,Gyakorlati jegy Jeles (5) 2022.12.09.,Számítógépes grafika gyak.,2.0
197,Gyakorlati jegy Elégtelen (1) 2023.05.11.,Alkalmazásfejlesztés I.,2.0
199,Gyakorlati jegy Jeles (5) 2021.05.29.,Diszkrét matematika II.,3.0
205,Kollokvium Elégséges (2) 2022.01.05.,Szkriptnyelvek,2.0
206,Kollokvium Elégséges (2) 2022.01.05.,Szkriptnyelvek,2.0
217,Kollokvium Közepes (3) 2022.06.09.,Webfejlesztési keretrendszerek,1.0
223,Gyakorlati jegy Közepes (3) 2021.12.17.,Döntéselméleti rendszerek gyakorlat,2.0
224,Gyakorlati jegy Közepes (3) 2021.12.17.,Döntéselméleti rendszerek gyakorlat,2.0
231,Gyakorlati jegy Jó (4) 2023.05.12.,Adatbázis alapú rendszerek gyak.,3.0
232,Gyakorlati jegy Jó (4) 2023.05.12.,Adatbázis alapú rendszerek gyak.,3.0
233,Gyakorlati jegy Elégtelen (1) 2023.05.12.,Rendszerfejlesztés II. gyak.,2.0
239,Gyakorlati jegy Közepes (3) 2022.12.09.,Szoftvertesztelés alapjai,3.0
241,Kollokvium Közepes (3) 2023.01.09.,Számítógépes grafika,2.0
242,Kollokvium Közepes (3) 2023.01.09.,Számítógépes grafika,2.0
244,Gyakorlati jegy Jeles (5) 2022.05.16.,Webfejlesztési keretrendszerek,2.0
248,Gyakorlati jegy Elégtelen (1) 2022.12.08.,Bevezetés a mélytanulásba,2.0
249,Kollokvium Közepes (3) 2022.12.31.,Diszkrét matematika III.,2.0
251,Gyakorlati jegy Közepes (3) 2022.05.16.,Algoritmusok és adatszerkezetek II.,2.0
252,Gyakorlati jegy Közepes (3) 2022.05.16.,Algoritmusok és adatszerkezetek II.,2.0
257,Gyakorlati jegy Elégséges (2) 2021.05.23.,Assembly programozás gyakorlat,1.0
261,Kollokvium Jeles (5) 2021.06.02.,Diszkrét matematika II.,2.0
262,Gyakorlati jegy Jeles (5) 2023.05.15.,Mobil alkalmazásfejlesztés,2.0
268,Gyakorlati jegy Közepes (3) 2022.12.19.,Diszkrét matematika III.,3.0
269,Gyakorlati jegy Elégséges (2) 2021.12.20.,Szkriptnyelvek gyak.,2.0
270,Gyakorlati jegy Elégséges (2) 2021.12.20.,Szkriptnyelvek gyak.,2.0
275,Kollokvium Elégséges (2) 2023.01.17.,Szoftvertesztelés alapjai,2.0
283,Kollokvium Jeles (5) 2023.06.06.,Mobil alkalmazásfejlesztés,1.0
284,Kollokvium Közepes (3) 2021.12.21.,Döntéselméleti rendszerek,2.0
285,Kollokvium Közepes (3) 2021.12.21.,Döntéselméleti rendszerek,2.0
287,Kollokvium Jeles (5) 2021.05.31.,Assembly programozás,1.0

In [226]:
eredmenyek4 = set(df[df['Eredmény.4'] != 0.0][df['Név.4'] != 0.0][df['Kredit.4'] != 0.0][
                      ['Eredmény.4', 'Név.4', 'Kredit.4', 'Kód:.4']][
                      df['Eredmény.4'].str.contains('Elégtelen') == False]['Kód:.4'])

C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\616637415.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  eredmenyek4 = set(df[df['Eredmény.4'] != 0.0][df['Név.4'] != 0.0][df['Kredit.4'] != 0.0][
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\616637415.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  eredmenyek4 = set(df[df['Eredmény.4'] != 0.0][df['Név.4'] != 0.0][df['Kredit.4'] != 0.0][
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\616637415.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  eredmenyek4 = set(df[df['Eredmény.4'] != 0.0][df['Név.4'] != 0.0][df['Kredit.4'] != 0.0][

In [227]:
eredmenyek4

{'IB152e',
 'IB152l',
 'IB155e-00002',
 'IB155l',
 'IB370E',
 'IB370G',
 'IB470E',
 'IB470G',
 'IB471E',
 'IB471G',
 'IB676e',
 'IB676l',
 'IBK004E',
 'IBK004G',
 'IBK309E',
 'IBK309G',
 'IBK404E',
 'IBK404G',
 'MBNXK112E',
 'MBNXK112G',
 'MBNXK114E',
 'MBNXK114G'}

In [228]:
eredmenyek_osszes = eredmenyek2.union(eredmenyek3).union(eredmenyek4)

In [229]:
df[df['Eredmény.4'] != 0.0][df['Név.4'] != 0.0][df['Kredit.4'] != 0.0][['Eredmény.4', 'Név.4', 'Kredit.4', 'Kód:.4']][
    df['Eredmény.4'].str.contains('Elégtelen') == False]['Kód:.4']

C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3473425535.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['Eredmény.4'] != 0.0][df['Név.4'] != 0.0][df['Kredit.4'] != 0.0][['Eredmény.4', 'Név.4', 'Kredit.4', 'Kód:.4']][
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3473425535.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['Eredmény.4'] != 0.0][df['Név.4'] != 0.0][df['Kredit.4'] != 0.0][['Eredmény.4', 'Név.4', 'Kredit.4', 'Kód:.4']][
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3473425535.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['Eredmény.4'] != 0.0][df['Név.4'] != 0.0][df['Kredit.4'] != 0.0][['Eredmény.4', 'Név.4', 'Kredit.4', 'Kód:.4']][

191          IB152e
192          IB152e
193         IBK404E
194         IBK404E
195          IB155l
196          IB155l
199       MBNXK112G
205          IB370E
206          IB370E
217          IB471E
223         IBK309G
224         IBK309G
231          IB152l
232          IB152l
239         IBK004G
241    IB155e-00002
242    IB155e-00002
244          IB471G
249       MBNXK114E
251         IBK404G
252         IBK404G
257          IB676l
261       MBNXK112E
262          IB470G
268       MBNXK114G
269          IB370G
270          IB370G
275         IBK004E
283          IB470E
284         IBK309E
285         IBK309E
287          IB676e
Name: Kód:.4, dtype: object

In [230]:
eredmenyek4_kredit = 0
export_df = pd.DataFrame({'Név': [], 'Eredmény': [], 'Kredit': []})
for kod in eredmenyek4.intersection(eredmenyek_osszes):
    eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
    # print(df[df['Kód:.4'] == kod]['Név.4'].to_list()[0])
    # break
    export_df.loc[len(export_df.index)] = [str(df[df['Kód:.4'] == kod]['Név.4'][:1].to_list()[0]),
                                           str(df[df['Kód:.4'] == kod]['Eredmény.4'][:1].to_list()[0]),
                                           int(df[df['Kód:.4'] == kod]['Kredit.4'][:1].to_list()[0])]

C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\3639325868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])

In [231]:
export_df

,Név,Eredmény,Kredit
0,Algoritmusok és adatszerkezetek II.,Kollokvium Közepes (3) 2022.06.14.,2
1,Mobil alkalmazásfejlesztés,Gyakorlati jegy Jeles (5) 2023.05.15.,2
2,Assembly programozás gyakorlat,Gyakorlati jegy Elégséges (2) 2021.05.23.,1
3,Webfejlesztési keretrendszerek,Kollokvium Közepes (3) 2022.06.09.,1
4,Webfejlesztési keretrendszerek,Gyakorlati jegy Jeles (5) 2022.05.16.,2
5,Diszkrét matematika III.,Kollokvium Közepes (3) 2022.12.31.,2
6,Diszkrét matematika III.,Gyakorlati jegy Közepes (3) 2022.12.19.,3
7,Döntéselméleti rendszerek gyakorlat,Gyakorlati jegy Közepes (3) 2021.12.17.,2
8,Algoritmusok és adatszerkezetek II.,Gyakorlati jegy Közepes (3) 2022.05.16.,2
9,Mobil alkalmazásfejlesztés,Kollokvium Jeles (5) 2023.06.06.,1
10,Adatbázis alapú rendszerek,Kollokvium Elégséges (2) 2023.06.07.,2
11,Adatbázis alapú rendszerek gyak.,Gyakorlati jegy Jó (4) 2023.05.12.,3
12,Döntéselméleti rendszerek,Kollokvium Közepes (3) 2021.12.21.,2
13,Számítógépes grafika gyak.,Gyakorlati jegy Jeles (5) 2022.12.09.,2
14,Diszkrét matematika II.,Gyakorlati jegy Jeles (5) 2021.05.29.,3
15,Szoftvertesztelés alapjai,Kollokvium Elégséges (2) 2023.01.17.,2
16,Assembly programozás,Kollokvium Jeles (5) 2021.05.31.,1
17,Szoftvertesztelés alapjai,Gyakorlati jegy Közepes (3) 2022.12.09.,3
18,Szkriptnyelvek,Kollokvium Elégséges (2) 2022.01.05.,2
19,Szkriptnyelvek gyak.,Gyakorlati jegy Elégséges (2) 2021.12.20.,2
20,Diszkrét matematika II.,Kollokvium Jeles (5) 2021.06.02.,2
21,Számítógépes grafika,Kollokvium Közepes (3) 2023.01.09.,2

In [232]:
eredmenyek3_kredit = 0
for kod in eredmenyek3.intersection(eredmenyek_osszes - eredmenyek4):
    eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
    export_df.loc[len(export_df.index)] = [str(df[df['Kód:.3'] == kod]['Név.3'][:1].to_list()[0]),
                                           str(df[df['Kód:.3'] == kod]['Eredmény.3'][:1].to_list()[0]),
                                           int(df[df['Kód:.3'] == kod]['Kredit.3'][:1].to_list()[0])]

C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2777879884.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])

In [233]:
eredmenyek2_kredit = 0
for kod in eredmenyek2.intersection(eredmenyek_osszes - eredmenyek3 - eredmenyek4):
    eredmenyek2_kredit += int(df[df['Kód:.2'] == kod]['Kredit.2'][:1])
    export_df.loc[len(export_df.index)] = [str(df[df['Kód:.2'] == kod]['Név.2'][:1].to_list()[0]),
                                           str(df[df['Kód:.2'] == kod]['Eredmény.2'][:1].to_list()[0]),
                                           int(df[df['Kód:.2'] == kod]['Kredit.2'][:1].to_list()[0])]

C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\2330626446.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek2_kredit += int(df[df['Kód:.2'] == kod]['Kredit.2'][:1])

In [234]:
# eredmenyek4_kredit + eredmenyek3_kredit + eredmenyek2_kredit

In [235]:
sum(export_df['Kredit'].to_list())

148

In [236]:
eredmenyek_ossz = sum(export_df['Kredit'].to_list())

In [237]:
eredmenyek_ossz

148

In [248]:
import tabula
# Integration of the additional code
pdf_path = "20171112___pti_bsc.pdf"
excel_output = "output.xlsx"
csv_output = "tablazat.csv"

tables = tabula.read_pdf(pdf_path, pages="all", encoding='ISO-8859-1')

pdf_output = pd.concat(tables, ignore_index=True)

pdf_output.loc[-1] = pdf_output.columns
pdf_output.index = pdf_output.index + 1
pdf_output = pdf_output.sort_index()

pdf_output.to_excel(excel_output, index=False)
pdf_output.to_csv(csv_output, index=False)

pd.read_excel('output.xlsx').to_csv("tablazat.csv", header=True)
pdf = pd.read_csv('tablazat.csv')
pdf.fillna(0).head(47)

merged_pdf = pd.concat([pdf["Diszkrét matematika I. ea"], pdf["Programozás alapjai ea"],
                        pdf["Szakdolgozat készítése 1. (pti)"]]).dropna()
merged_kredit = pd.concat([pdf["MBNXK111E"], pdf["IB104E"], pdf["IB3000"]]).dropna()
merged_kredit.name = "Tárgycsoport kódja"
merged_kredit = merged_kredit.reset_index(drop=True)
merged_kredit = merged_kredit[~merged_kredit.str.isnumeric()]

merged_pdf.name = "Név"
merged_pdf = merged_pdf.reset_index(drop=True)
merged_pdf = merged_pdf[~merged_pdf.str.isnumeric()]

eredmenyek4_kredit2 = 0
export_df2 = pd.DataFrame({'Név': [], 'Tárgycsoport kódja': []})
for kod in eredmenyek4.intersection(eredmenyek_osszes):
    eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
    export_df2.loc[len(export_df2.index)] = [str(df[df['Kód:.4'] == kod]['Név.4'][:1].to_list()[0]),
                                             str(df[df['Kód:.4'] == kod]['Tárgycsoport kódja.4'][:1].to_list()[0])]

eredmenyek3_kredit2 = 0
for kod in eredmenyek3.intersection(eredmenyek_osszes - eredmenyek4):
    eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
    export_df2.loc[len(export_df2.index)] = [str(df[df['Kód:.3'] == kod]['Név.3'][:1].to_list()[0]),
                                             str(df[df['Kód:.3'] == kod]['Tárgycsoport kódja.3'][:1].to_list()[0])]
eredmenyek2_kredit2 = 0
for kod in eredmenyek2.intersection(eredmenyek_osszes - eredmenyek3 - eredmenyek4):
    eredmenyek2_kredit2 += int(df[df['Kód:.2'] == kod]['Kredit.2'][:1])
    export_df2.loc[len(export_df2.index)] = [str(df[df['Kód:.2'] == kod]['Név.2'][:1].to_list()[0]),
                                             str(df[df['Kód:.2'] == kod]['Tárgycsoport kódja.2'][:1].to_list()[0])]

export_df2 = export_df2.sort_values(by='Név', ascending=True).reset_index(drop=True)

C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:42: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek3_kredit2 += int(df[df['Kód:.3'] == kod]['Kredit.3'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:47: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek2_kredit2 += int(df[df['Kód:.2'] == kod]['Kredit.2'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])
C:\Users\adam0\AppData\Local\Temp\ipykernel_22264\400692969.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  eredmenyek4_kredit2 += int(df[df['Kód:.4'] == kod]['Kredit.4'][:1])

In [249]:
export_df2

                                 Név Tárgycsoport kódja
0            A sztochasztika alapjai          MBNXK262G
1            A sztochasztika alapjai          MBNXK262E
2         Adatbázis alapú rendszerek             IB152e
3   Adatbázis alapú rendszerek gyak.             IB152l
4                        Adatbázisok             IB501e
..                               ...                ...
59        Számítógépes grafika gyak.             IB155l
60                      Web tervezés             IB714e
61                Web tervezés gyak.             IB714g
62    Webfejlesztési keretrendszerek             IB471G
63    Webfejlesztési keretrendszerek             IB471E

[64 rows x 2 columns]

In [253]:
merged_kredit = merged_kredit.str.upper()
export_df2["Tárgycsoport kódja"] = export_df2["Tárgycsoport kódja"].str.upper()

merged = pd.DataFrame(merged_pdf).join(merged_kredit)

row_index = 2
column_name = 'Tárgycsoport kódja'  # Replace with the column name
new_value = 'MBNXK311E'  # Replace with the new value
merged[column_name].loc[row_index] = new_value
#
row_index = 27
column_name = 'Tárgycsoport kódja'  # Replace with the column name
new_value = 'IB204E-00001'  # Replace with the new value
merged[column_name].loc[row_index] = new_value
#
row_index = 28
column_name = 'Tárgycsoport kódja'  # Replace with the column name
new_value = 'IB204L'  # Replace with the new value
merged[column_name].loc[row_index] = new_value
#
row_index = 46
column_name = 'Tárgycsoport kódja'  # Replace with the column name
new_value = 'IB3000G'  # Replace with the new value
merged[column_name].loc[row_index] = new_value

row_index = 47
column_name = 'Tárgycsoport kódja'  # Replace with the column name
new_value = 'IB3001G'  # Replace with the new value
merged[column_name].loc[row_index] = new_value

In [254]:
merged

                                         Név Tárgycsoport kódja
0                  Diszkrét matematika I. ea          MBNXK111E
1                  Diszkrét matematika I. gy          MBNXK111G
2                             Kalkulus I. ea          MBNXK311E
3                             Kalkulus I. gy          MBNXK311G
4                 A sztochasztika alapjai ea          MBNXK262E
5                 A sztochasztika alapjai gy          MBNXK262G
6                 Alkalmazott statisztika ea           MBNX363E
7                Alkalmazott statisztika lab           MBNX363G
8                      Operációkutatás I. ea            IBK203E
9                      Operációkutatás I. gy            IBK203G
10  Közelítő és szimbolikus számítások I. ea            IBK301E
11  Közelítő és szimbolikus számítások I. gy            IBK301G
12     Algoritmusok és adatszerkezetek I. ea            IBK304E
13     Algoritmusok és adatszerkezetek I. gy            IBK304G
14           Mesterséges intelligencia I. ea            IBK154E
15           Mesterséges intelligencia I. gy            IBK154G
16                       Formális nyelvek ea            IBK403E
17                       Formális nyelvek gy            IBK403G
18    Logika és informatikai alkalmazásai ea            IBK604E
19    Logika és informatikai alkalmazásai gy            IBK604G
20                    Bonyolultságelmélet ea            IBK507E
21                    Bonyolultságelmélet gy            IBK507G
22                    Programozás alapjai ea             IB104E
23                   Programozás alapjai lab             IB104L
24               Számítógép architektúrák ea             IB162E
25                   Operációs rendszerek ea             IB402E
26                  Operációs rendszerek lab             IB402G
27                         Programozás I. ea       IB204E-00001
28                        Programozás I. lab             IB204L
29                         Programozás II.ea             IB302E
30                       Programozás II. lab             IB302G
31                   Számítógép-hálózatok ea             IB407E
32                  Számítógép-hálózatok lab             IB407G
33                            Adatbázisok ea             IB501E
34                           Adatbázisok lab             IB501G
35                      Programozási nyelvek             IB405E
36                      Programozási nyelvek             IB405G
37                    Információbiztonság ea             IB716E
38                   Információbiztonság lab             IB716L
39                  Rendszerfejlesztés I. ea             IB153E
40                 Rendszerfejlesztés I. lab             IB153L
41                            Webtervezés ea             IB714E
42                           Webtervezés lab             IB714G
43               Digitális képfeldolgozás ea             IB042E
44              Digitális képfeldolgozás lab             IB042G
46           Szakdolgozat készítése 1. (pti)            IB3000G
47           Szakdolgozat készítése 2. (pti)            IB3001G

In [255]:
merged = merged.sort_values(by="Név", ascending=True).reset_index(drop=True)

kotelezo_targyak = export_df2[export_df2["Tárgycsoport kódja"].isin(merged["Tárgycsoport kódja"])]

kotelezo_targyak = kotelezo_targyak.sort_values(by="Név", ascending=True).reset_index(drop=True)

fennmarado_kotelezo_targyak = pd.concat([merged, kotelezo_targyak]).drop_duplicates(subset=['Tárgycsoport kódja'],
                                                                                    keep=False)

In [256]:
fennmarado_kotelezo_targyak

                                         Név Tárgycsoport kódja
8                     Bonyolultságelmélet ea            IBK507E
9                     Bonyolultságelmélet gy            IBK507G
10               Digitális képfeldolgozás ea             IB042E
11              Digitális képfeldolgozás lab             IB042G
20  Közelítő és szimbolikus számítások I. ea            IBK301E
24           Mesterséges intelligencia I. ea            IBK154E
25           Mesterséges intelligencia I. gy            IBK154G
41           Szakdolgozat készítése 2. (pti)            IB3001G

In [ ]:
merged

In [ ]:
kotelezo_targyak

In [ ]:
export_df2